<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Re-Feed</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        {% if has_custom_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
        {% endif %}
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </head>
    <body data-theme="light">
        <header>
            {% if logo %}<div id="m-logo">{{ logo|safe }}</div> {% endif %}
            <h1>Re-Feed</h1>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
